$colorPrimary: #2780e3;
$colorPrimaryLight: #5095e4;
$colorPrimaryDark: #036de6;
$colorPrimaryExtraLight: #c6e1ff;
$colorSecondaryExtraLight: #a1b5cc;

th {
    color: $colorPrimaryDark;
}

.card-text {
    color: $colorPrimaryLight;
}


.form-control {
    border-radius: 0.25em;
}

.footer {
    background-color: $colorPrimary;
    color: white;
}

.sectionPrimary {
    padding-top: 50px;
    padding-bottom: 20px;

}

.sectionSecondary {
    padding-top: 50px;
    padding-bottom: 20px;
}

#go-top {
    display: none;
    font-size: 30px;
    position: fixed;
    bottom: 50px;
    right: 50px;
    border: 2px solid #2780e3;
    border-radius: 50px;
    width: 45px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    cursor: pointer;
  }
